/* Style mostly with Javascript! */
body {
    background: #ffffff;
    color: #000000;
    font-family: Arial, Cambria, Cochin, Georgia, Times New Roman, Sans-Serif;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }

.headerOne {
    color: black;
    font-weight: bolder;
    font-size: larger;
}

.passwordCard {

}

.headerTwo {
    color: black;
    font-weight: bold;
    font-size: large;
}

.passwordCard-body {

}

#password {

}

.passwordCard-footer {

}

.button {
    background-color: red;
	border-radius:28px;
	border:1px solid #020302;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
    font-family: Trebuchet MS, Lucida Sans Unicode, Lucida Grande, Lucida Sans, Arial;
    font-weight: bold;
    font-size: medium;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}