/* Style mostly with Javascript! */
body {
    background: #ffffff;
    color: #000000;
    font-family: Arial, Cambria, Cochin, Georgia, Times New Roman, Sans-Serif;
  }

  .wrapper {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

.headerOne {
    color: black;
    font-weight: bolder;
    font-size: larger;
}

.passwordCard {

}

.headerTwo {
    color: black;
    font-weight: bold;
    font-size: large;
}

.passwordCard-body {

}

#password {

}

.passwordCard-footer {

}

.button {
    background-color: red;
    color: white;
    font-weight: bold;
    font-size: medium;
}